@import './style/weui.wxss';
@import './style/font.wxss';


page{
    min-height: 100%;
    display: flex;
    flex-direction:column;
}

view{
    box-sizing: border-box;
}

.page-container{
    position: relative;
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    min-height: 100%;
    flex:1;
}
